<div class="imageViewer">
  <div class='tagContainer'></div>
</div>
<div class="toggleTags">Toggle Tags</div>
<script>
  $(function () {
    var m = new ImageCanvas($(".imageViewer"), <%= @image.id %>);
    m.initialize();

    var t = new TagToggler($(".toggleTags"), $(".tagContainer"), <%= @image.id %>);
    t.initialize();
  });
</script>